DATABASE_URL_RW=postgres://postgres:postgres@localhost:5432/mtg_meta_analyzer
DATABASE_URL_RO=postgres://postgres:postgres@localhost:5432/mtg_meta_analyzer
DATABASE_URL_ADMIN=postgres://postgres:postgres@localhost:5432/mtg_meta_analyzer
